* {
    padding: 0;
    margin: 0;
    
}

.background {
    background-color: #12151b;
    height:max-content;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 3.1%;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

.display {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1em;
    font-family: 'Itim', cursive;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Itim', cursive;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 1%;
    font-family: 'Itim', cursive;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #ff5938;
}
#reset:hover {
    transition-delay: 4ms;
    background-color:burlywood;
    color: brown;
}